{% extends 'template_base.html' %}

{% block contenue %}

<div class="container mt-4">
    <!-- Modal Ajouter Secrétaire -->
    <div class="modal fade show" id="modalSecretaire" tabindex="-1" aria-labelledby="modalSecretaireLabel" aria-hidden="true" style="display: block;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title" id="modalSecretaireLabel">Ajouter un secrétaire</h5>
                </div>
                <div class="modal-body">
                    {% if form.errors %}
                    <div class="alert alert-danger">
                        {% for field in form %}
                            {% if field.errors %}
                                <strong>{{ field.label }}</strong> : {{ field.errors|striptags }}
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                    <form method="POST" action="{% url 'secretaire:secretaire_create' %}" class="needs-validation" novalidate   enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="mb-3">
                            <label for="tnm" class="form-label">Nom</label>
                            <input type="text" class="form-control input-focus-blue" id="tnm" name="tnm" required>
                        </div>

                        <div class="mb-3">
                            <label for="tpm" class="form-label">Prénom</label>
                            <input type="text" class="form-control input-focus-blue" id="tpm" name="tpm" required>
                        </div>

                        <div class="mb-3">
                            <label for="dns" class="form-label">Date de naissance</label>
                            <input type="date" class="form-control input-focus-blue" id="dns" name="dns" required>
                        </div>

                        <div class="mb-3">
                            <label for="tlns" class="form-label">Lieu de naissance</label>
                            <input type="text" class="form-control input-focus-blue" id="tlns" name="tlns" required>
                        </div>

                        <div class="mb-3">
                            <label for="tsx" class="form-label">Sexe</label>
                            <select class="form-select input-focus-blue" id="tsx" name="tsx" required>
                                <option value="Masculin">Masculin</option>
                                <option value="Feminin">Féminin</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="teml" class="form-label">Email</label>
                            <input type="email" class="form-control input-focus-blue" id="teml" name="teml" required>
                        </div>

                        <div class="mb-3">
                            <label for="tphne" class="form-label">Numéro de téléphone</label>
                            <input type="tel" class="form-control input-focus-blue" id="tphne" name="tphne" required>
                        </div>

                        <div class="mb-3">
                            <label for="ttvst" class="form-label">Statut secrétaire</label>
                            <input type="text" class="form-control input-focus-blue" id="ttvst" name="ttvst">
                        </div>

                        <div class="mb-3">
                            <label for="directeur" class="form-label">Directeur</label>
                            <select class="form-select input-focus-blue" id="directeur" name="directeur" required>
                                <option value="">Choisir un directeur</option>
                                {% for dir in directeur %}
                                    <option value="{{ dir.id }}">
                                        {{ dir.tnm }} {{ dir.tpm }} {{ dir.tsvr }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="ddf" class="form-label">Date de fin</label>
                            <input type="date" class="form-control input-focus-blue" id="ddf" name="ddf" value="{{ today|date:'Y-m-d' }}">
                        </div>

                        <div class="mb-3">
                            <label for="img" class="form-label">Photo</label>
                            <input type="file" class="form-control input-focus-blue" id="img" name="img" accept="image/*">
                        </div>

                        <div class="text-end">
                            <a href="{% url 'secretaire:secretaire_list' %}" class="btn btn-secondary px-4 py-2 btn-sm">Annuler</a>
                            <button type="submit" class="btn btn-primary px-4 py-2 btn-sm">Ajouter</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Fond noir pour modal (backdrop) -->
<div class="modal-backdrop fade show"></div>

<script>
    window.onload = function() {
        var myModal = new bootstrap.Modal(document.getElementById("modalSecretaire"), {
            keyboard: false,
            backdrop: 'static'
        });
        myModal.show();
    }

    function fermerModal() {
        var modal = document.getElementById('modalSecretaire');
        modal.style.display = 'none';
        modal.classList.remove('show');
        document.body.classList.remove('modal-open');
        var backdrop = document.querySelector('.modal-backdrop');
        if (backdrop) {
            backdrop.remove();
        }
    }
</script>

{% endblock %}
