{% extends 'template_base.html' %}

{% block contenue %}
  <h2>Liste des Secrétaires</h2>
  <table>
    <thead>
      <tr>
        <th>Nom</th>
        <th>Email</th>
        <th>Téléphone</th>
        <th>Directeur</th>
      </tr>
    </thead>
    <tbody>
      {% for sec in secretaire %}
        <tr>
          <td>{{ sec.tnm }} {{ sec.tpm }}</td>
          <td>{{ sec.email }}</td>
          <td>{{ sec.telephone }}</td>
          <td>{{ sec.directeur }}</td>
        </tr>
      {% empty %}
        <tr><td colspan="4">Aucun secrétaire trouvé.</td></tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
